@import './assets/css/reset.css';
@import './assets/css/font.css';

.App {
  font-family: 'Poppins', sans-serif;
}

.nav {
  padding: 24px;
}
.link-item {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 4px 0;
  margin-right: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}
.link-item:hover {
  color: #008cff;
}
.active {
  color: #008cff;
  border-bottom: 1px solid #008cff;
}
